body{
  background-color: #98FB98;
}
.App {
  text-align: center;
}

.App-header {
  background-color:#6fa84b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
}

.App-link {
  color: #61dafb;
}

.btn{
  color: whitesmoke;
  padding: 1rem;
  align-items: center;
  background-color:#FF8000;
  margin-top: 1rem;
  font-size: 1rem;
  height: inherit;
  width: auto;
}

.ui.menu{
  background-color: #F4A460;
  height: auto;
  width: 100%;
  font-size: 2rem;
  align-items: center;
}

.a.item{
background-color: #6fa84b;
}

.SignIn{
  margin: 1rem 1rem 1rem 1rem;
}

